.dashboard {
  max-width: 1400px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.dashboard h1 {

  font-size: 60px;
  margin-bottom: 30px;
  color: white;
}

.cards-container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {

  width: 280px;
  padding: 25px;
  border-radius: 24px;
  background:linear-gradient(135deg,#a9fcab,#96df62);
  box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

.card:hover {

  transform:
    translateY(-12px)
    scale(1.03);

  box-shadow:
    0 25px 45px rgba(0,0,0,0.35);
}

.card h2 {

  color: #1f1f1f;
  margin-bottom: 12px;
}

.card p {

  color: #444;
  margin-bottom: 8px;
}

.card a {

  display: inline-block;
  margin-top: 12px;
  text-decoration: none;
  background: #0d570c;
  color: rgb(231, 231, 231);
  padding: 10px 18px;
  border-radius: 10px;
  transition: 0.3s;
}

.card a:hover {

  transform: scale(1.05);
  box-shadow:
    0 10px 20px rgba(3, 85, 19, 0.918);
}

.filters {

  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.filters button {

  border: none;
  padding: 12px 24px;
  border-radius: 999px;
  background: rgba(255,255,255,0.15);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

.filters button:hover {

  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

.active-filter {

  background:
    linear-gradient(
      135deg,
      #a855f7,
      #d946ef
    );

  box-shadow:
    0 10px 25px rgba(0, 58, 8, 0.792);
}